h1 {
	font-family: "Montserrat", sans-serif;
}



/* IDs */
#title {
	background-color: #fff;

}


#features {
	background-color: #11c4f5;
}



#copyright {

	color: #ff6600;
}



/* NavBar */

.navbar-brand {
	color: #ff6600;
	transition: color 0.3s;
	font-weight: bold;
	font-size: 2rem;
	font-family: "Montserrat";
}

.navbar-nav .nav-item .nav-link {
	color: #ff6600;
	transition: color 0.3s;
	font-weight: bold;
	font-size: 1rem;
	font-family: "Montserrat";
}


.navbar-brand:hover {
	color: #11c4f5;
}


.navbar-nav .nav-item .nav-link:hover {
	color: #11c4f5;
}



/* Footer */

i {
	color: #ff6600;
}