h1 {
	font-family: "Montserrat", sans-serif;
}



/* IDs */
#title {
	background-color: #CDF5FD;

}

#contact {
	background-color: #CDF5FD;

}

#features {
	background-color: #00A9FF;
}



#footer {

	color: #89CFF3;
}



/* NavBar */

.navbar-brand {
	color: #89CFF3;
	transition: color 0.3s;
	font-weight: bold;
	font-size: 2rem;
	font-family: "Montserrat";
}

.navbar-nav .nav-item .nav-link {
	color: #89CFF3;
	transition: color 0.3s;
	font-weight: bold;
	font-size: 1rem;
	font-family: "Montserrat";
}


.navbar-brand:hover {
	color: #00A9FF;
}


.navbar-nav .nav-item .nav-link:hover {
	color: #00A9FF;
}



/* Footer */

i {
	color: #89CFF3;
}